@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
  background-color: #FDEFEF;
}

.App{
  height: 100%;
  width: 100vw;
}

.container{
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.all-users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-bottom: 3rem; 
}

.user{
  background-color: #DAD0C2;
  height: 100%;
  display: flex;
  margin-bottom: 1rem;
  margin-right: 2rem;
  min-width: 350px;
  padding: 10px 5px;
  border-radius: 5px;
}
.user-img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0 10px;

}
.uesr--info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1rem;
  color: gray;
}

